* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background: white;
}

header h1 {
  background: white;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 60px;
  font-family: "Julius Sans One", sans-serif;
}

header nav ul li {
  display: inline-block;
  align-items: center;
  flex-direction: row;
}

.opciones {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .opciones {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
a:hover {
  background-color: rgb(235, 130, 165);
  border-radius: 3px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*Categorias */
.categoriasli {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  border-style: double;
  border-color: lightpink;
  margin-left: 10px;
  margin-top: 80px;
  font-size: 20px;
  font-family: "Julius Sans One", sans-serif;
}
.categoriasli li {
  text-align: left;
}

@media (max-width: 1024px) {
  .categoriasli {
    margin-left: 10%;
    flex-direction: column;
  }
}
a:hover {
  background-color: rgba(247, 179, 201, 0.4);
  margin-top: 80px;
}

.cat2 {
  margin-top: 20px;
}

.cat3 {
  margin-top: 20px;
}

.cat4 {
  margin-top: 20px;
}

.cat5 {
  margin-top: 20px;
}

section {
  display: flex;
  justify-content: space-around;
}
section .seccion-img img {
  display: inline-block;
  width: 290px;
  height: 300px;
  margin: 30px;
}
section .cajas2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
section li {
  box-sizing: 100px;
  border-radius: 8%;
}
section li:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

@media (max-width: 1024px) {
  .cajas2 {
    grid-template-columns: 1fr;
    margin: 0%;
  }
}
/*imagenes*/
.imagen2 {
  transition: 0.7s;
}

.imagen2:hover {
  transform: scale(0.9, 0.9);
  transition: 0.7s;
}

.contenedorcontacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  width: 450px;
  margin: auto;
  background-color: rgba(155, 17, 102, 0.438);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 20px;
  font-family: monospace;
}

.titulocontact {
  background-color: rgba(155, 17, 102, 0);
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: monospace;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: rgba(2, 0, 0, 0.9254901961);
  color: #fff;
  padding: 20px;
}

@media (max-width: 500px) {
  form {
    width: 100%;
  }
}
/*LINK DE UBICACION */
.ubicacionlink {
  margin: auto;
  text-align: center;
}

.ubicacionlink:hover {
  transform: scale(1, 2);
  transition: 0.7s;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  position: relative;
}
footer footer ul li {
  display: inline-block;
  background: white;
}
footer footer ul li footer ul li img {
  width: 30px;
  height: 30px;
  background: white;
}
footer footer ul li footer div li img {
  width: 30px;
  height: 30px;
  background: white;
}
footer footer div ul {
  font-size: 15px;
}
footer footer div h2 {
  font-size: 18px;
}

.d-item {
  align-items: center;
}

.d-img {
  max-width: 100%;
  filter: brightness(0.6);
}

.pregfrec {
  padding: 15px 20px;
  border-top: solid 2px whitesmoke;
}
.pregfrec ul h2 {
  font-size: 25px;
  font-family: "Julius Sans One", sans-serif;
}

.modo-de-compra {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  border-style: double;
  border-color: lightpink;
  margin: auto;
  padding: 15px 20px;
}
.modo-de-compra h2 {
  font-size: 30px;
  font-family: "Julius Sans One", sans-serif;
}
.modo-de-compra ul li {
  margin: 10px;
}

.ayuda-compra {
  width: 500px;
  height: 250px;
  border-radius: 8px;
  border-style: double;
  border-color: lightpink;
  margin: auto;
  padding: 15px 20px;
}
.ayuda-compra h2 {
  font-family: "Julius Sans One", sans-serif;
}

a:link {
  text-decoration: none;
  transition: 0.4s;
}

html {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
