$fuentes: 'Julius Sans One', sans-serif;


@import "reseteo-css";
@import "header";
@import "body";
@import "categorias-index";
@import "section-index";
@import "contacto";
@import "footer";
@import "carrousel";
@import "pregfrecuentes";
@import "comocomprar";
@import "ayudacompra";

a:link {
text-decoration: none;
transition: .4s;
}

html {
    height: 100%;
}